/* Scss Document */
/* Scss Document 
Browser Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Scss Document */
body {
  font-family: helvetica, arial, sans-serif;
  display: block;
  margin: 0 auto;
  background: #f1f1f1; }

h2 {
  font-size: 1.8em;
  color: #454545;
  width: 100%;
  padding: 5px 0;
  font-weight: bold; }
  h2#loggedout {
    text-align: center;
    margin: 100px 0 400px; }

h3 {
  font-size: 1em;
  font-weight: bold;
  color: #454545;
  padding: 5px 0; }

p, li {
  font-size: 0.95em;
  color: #6F6F6F;
  font-weight: 100;
  line-height: 21px;
  padding: 0; }
  p b, li b {
    font-weight: 400; }

a {
  color: #ef640f;
  text-decoration: none;
  font-size: 0.95em; }
  a:hover {
    color: #6F6F6F; }

.spacer {
  width: 31.5%; }

.headline {
  padding: 0 0 20px; }

.headline1 {
  margin: 30px 0 50px 0; }

.container {
  max-width: 1150px;
  margin: 50px auto 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.container-content, .container-content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 45px; }
  ul li {
    float: left; }
    ul li .dropdown {
      display: inline-block; }
    ul li a, ul li .dropbtn {
      display: inline-block;
      color: #6F6F6F;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      ul li a.selected, ul li .dropbtn.selected {
        color: #ef640f; }

ul li a:hover, .dropdown:hover .dropbtn {
  color: #ef640f; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: #6F6F6F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
    .dropdown-content a:hover {
      background-color: #ef640f;
      color: #fff; }

.dropdown:hover .dropdown-content {
  display: block; }

.header {
  width: 100%;
  text-align: center;
  background: #fff; }
  .header .logo {
    margin: 50px 0 20px;
    height: 100px; }

.post {
  width: 31.5%;
  outline: 1px solid #6F6F6F;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 3px 3px 3px #6F6F6F; }
  .post img {
    display: block;
    margin: 25px auto;
    max-width: 95%;
    max-height: 300px; }
  .post p {
    margin: 0 20px;
    line-height: 20px;
    font-size: 0.8em; }
  .post h3 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0; }
  .post .time {
    font-size: 0.7em;
    text-align: right;
    padding: 10px 10px 0 0;
    margin: 0;
    background: #333;
    color: #eee; }

.profile {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 50px; }
  .profile h3 a {
    font-size: 0.7em; }

.upload {
  width: 45%;
  margin: 0 auto;
  text-align: center; }
  .upload form {
    color: #fff;
    display: block;
    margin: 0 auto;
    background: #454545;
    justify-content: center;
    padding: 0 0 30px 0; }
    .upload form legend {
      display: block;
      color: #fff;
      font-size: 2em;
      text-align: center;
      margin: 0 auto;
      padding: 30px 0;
      font-weight: bold; }
    .upload form a {
      float: right; }
    .upload form select, .upload form input, .upload form textarea {
      width: 400px;
      font-size: 0.8em;
      line-height: 22px; }
    .upload form .uploadbtn {
      width: auto;
      font-size: 0.8em;
      background-color: #ef640f;
      color: #fff;
      border: 2px solid #ef640f;
      border-radius: 3px;
      box-shadow: 3px 3px 3px #333;
      cursor: pointer; }
      .upload form .uploadbtn:hover {
        background-color: #6F6F6F;
        border: 2px solid #6F6F6F; }

.delete {
  border: none;
  cursor: pointer;
  background: none;
  margin: -20px 0 0 0;
  float: right; }
  .delete img {
    height: 20px;
    opacity: 0.6; }
    .delete img:hover {
      opacity: 1; }

#edit {
  height: 16px;
  float: right;
  margin: 8px 0 0 0;
  opacity: 0.6; }
  #edit:hover {
    opacity: 1; }

.post-profile-title {
  padding: 20px 0 0 35px; }

.message {
  width: 100%; }
  .message h3 {
    text-align: center; }

.login {
  display: block;
  margin: 0 auto 200px; }
  .login a {
    float: right; }
  .login .btn {
    width: auto;
    font-size: 0.8em;
    background-color: #454545;
    color: #fff;
    border: 2px solid #454545;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #6F6F6F;
    cursor: pointer;
    float: right; }
    .login .btn:hover {
      background-color: #ef640f;
      border: 2px solid #ef640f; }
  .login input, .login textarea, .login select {
    width: 400px;
    font-size: 0.8em;
    line-height: 22px; }

.login-headline {
  text-align: center;
  padding: 0 0 20px;
  margin-top: 70px; }

.artists {
  width: 31.5%;
  outline: 1px solid #6F6F6F;
  margin-bottom: 30px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 3px 3px 3px #6F6F6F;
  min-height: 250px; }
  .artists:hover {
    background: #ef640f;
    transition: 0.4s; }
    .artists:hover h3 {
      color: #fff; }
    .artists:hover p {
      color: #fff; }
  .artists p {
    margin: 0 20px;
    line-height: 20px;
    font-size: 0.8em;
    color: #6F6F6F; }
  .artists h3 {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    color: #ef640f; }
  .artists .time {
    font-size: 0.7em;
    text-align: right;
    padding: 10px 10px 0 0;
    margin: 0;
    color: #6F6F6F; }

.artist-profile {
  width: 50%;
  margin-bottom: 60px; }
  .artist-profile h3 a {
    font-size: 0.7em; }

.artist-profile-headline {
  margin: 0 0 30px; }

footer {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background: #ef640f;
  text-align: center; }
  footer p {
    padding-top: 30px;
    color: #fff;
    font-size: 0.7em; }
    footer p#copyright {
      padding: 0; }

.infobox, .infobox1, .infobox2 {
  width: 100%;
  z-index: 3;
  position: absolute;
  background: #f1f1f1;
  height: 300px;
  top: 230px;
  left: 0; }
  .infobox h3, .infobox p, .infobox1 h3, .infobox1 p, .infobox2 h3, .infobox2 p {
    text-align: center;
    padding: 20px 0; }
  .infobox a, .infobox1 a, .infobox2 a {
    text-align: center; }
  .infobox h3, .infobox1 h3, .infobox2 h3 {
    margin-top: 100px; }

.infobox2 {
  padding-top: 100px; }

.infobox {
  height: 500px; }

.upload-info h3, .upload-info p {
  margin: 0; }

.upload-info h3, .upload-info p {
  padding: 10px; }

.info {
  width: 100%;
  margin: 10px 0; }
  .info h3 {
    color: #ef640f; }
